# deps
/node_modules
/.pnpm-store

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# image optimization cache
/public/**/_optimized/
/public/next-image-export-optimizer-hashes.json

# misc
.DS_Store
.env
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.sandcastle/.env
.sandcastle/container-cache/
.vercel
next-env.d.ts
